* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  border: none !important;
  box-shadow: 0 0 1px 1px rgba(56, 55, 55, 0.308);
}

.service-icon {
  font-size: 50px;
  margin: 0 50px 5px 50px;
}

.footer-ico a {
  text-decoration: none;
  color: white !important;
}
